%html
  %head
    %link{:type=>'text/css', :rel=>'stylesheet', :href=>'site.css'}
  %body
    #header Wingshare
    %div
      Welcome,
      %b= info['display_name']+"."
      WingShare is a demo application for the WingCash API.
    %div
      %a{:href=>"/"} Continue
