body { font-family: Verdana }
#header { 
    font-size: 40px; font-family: "Arial Black", "Lucida Grande";
    background: #9c9; color: black;
    padding-left: 12px;
}
#photos {
    float: right;
    max-width: 150px;
    border: solid black 1px;
}
#main {
    min-height: 80px;
}
#footer {
    border-top: dotted black;
}

